<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>chart</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
</head>

<body>
  <div class="body">
    <select class="countrySelector">
      <option value="Select Country" selected disabled>Select Country</option>
    </select>

    <select class="startYearSelector">
      <option value="Select Start Year" selected disabled>Select Start Year</option>
    </select>

    <select class="endYearSelector">
      <option value="Select End Year" selected disabled>Select End Year</option>
    </select>

    <canvas id="myChart" width="400" height="200"></canvas>
    <script>

      let CHART = null;
      let countrySelector = document.querySelector('.countrySelector');
      let startYearSelector = document.querySelector('.startYearSelector');
      let endYearSelector = document.querySelector('.endYearSelector');

      let selectedCountry = null;
      let selectedStartYear = null;
      let selectedEndYear = null;
      let serverDATA = null;

      // helper function for unique
      function onlyUnique(value, index, self) {
        return self.indexOf(value) === index;
      }

      async function main() {
        // const response = await fetch('consumption.json');
        $.getJSON('consumption.json', function(data) {
          console.log(data[0]);
        });

        const countries = serverDATA.map(e => e.name).filter(onlyUnique)
        const years = serverDATA.map(e => e.Year).filter(onlyUnique)

        // create the options for Country Selector
        countries.forEach(country => {
          let option = document.createElement('option');
          option.value = country;
          option.innerText = country;
          countrySelector.appendChild(option);
        });
        // create options for startYear, endYear selectors
        years.forEach(year => {
          // Have to do twice because can't reuse element already inserted to DOM
          let option1 = document.createElement('option');
          let option2 = document.createElement('option');
          option1.value = option2.value = year;
          option1.innerText = option2.innerText = year;
          startYearSelector.appendChild(option1);
          endYearSelector.appendChild(option2);
        })

        // event listeners to trigger redraw
        countrySelector.addEventListener('change', event => {
          selectedCountry = event.target.value;
          redrawChart();
        });
        startYearSelector.addEventListener('change', event => {
          selectedStartYear = event.target.value;
          redrawChart();
        });
        endYearSelector.addEventListener('change', event => {
          selectedEndYear = event.target.value;
          redrawChart();
        });

      };


      async function redrawChart() {
        // no country selected, don't do anything
        if (selectedCountry == null) {
          return;
        }
        // clear the already existing chart
        if (CHART) {
          CHART.destroy();
        }
        // redraw the chart with filteredData
        drawChart(serverDATA.filter(e => {
          let retVal = e.name == selectedCountry;
          if (selectedStartYear !== null) {
            retVal = retVal && e.Year >= selectedStartYear
          }
          if (selectedEndYear !== null) {
            retVal = retVal && e.Year <= selectedEndYear
          }
          return retVal;
        }));
      }

      async function drawChart(newData) {

        // get canvas element
        const ctx = document
          .getElementById('myChart')
          .getContext('2d');

        // Draw the chart, and keep a global reference [ used to clear chart ]
        CHART = new Chart(ctx, {
          type: 'line',
          data: {
            datasets: [
              {
                label: 'Population',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                fill: false,
                data: newData.map(e => e['Population'])
              },
              {
                label: 'Protein Supply',
                backgroundColor: 'green',
                borderColor: 'green',
                fill: false,
                data: newData.map(e => e['Protein Supply'])
              }
            ],
            labels: newData.map(e => e.Year)
          }
        });
      }
      main();
    </script>
  </div>
</body>

</html>